a:hover{
 cursor: pointer;
}
body{
    background-color: #ebe6e6;
}

.rightFloat{
    float:right !important;
    margin-bottom: 1em;
}


#posts{
  margin: 1em;
}

.chat-box {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0.63em;
  margin: 0.63em 0.63em;
}

.chat-box::after {
  content: "";
  clear: both;
  display: table;
}

.name-left {
  color: #999;
}

#searchResultMessage {
  margin-left: 1.5em;
  margin-top: .5em;
  font-size: 1.3em;
}