body {
 background-image: url('../img/background.png');
 background-color: #cccccc;
}
#signIn, #signUp {
background-color: rgba(255, 255, 255, 0.5);
border-radius: 5%;
        position: relative;
        left:50%;
        transform: translate(-50%);
        top:4em;
    width: 25em;
    height: 34em;
}

.signButton {
    float : right ;
}
.otherButton{
    float: left;
}

#createA{
    float: left;
}
#marginBottom{
    margin-bottom: 1em;
}
.error {
    color: tomato;
}


#signIn{
    padding: 3em !important;
}
#signUp{
    display: none;
    padding: 2em !important;
}
